.App {
  margin-left: 35%;
  text-align: center;
  display: flex;
  gap: 100px;
}

.circle, .div-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 20px;
}

.empty_div {
  display:flex;
  border: 1px solid black;
  min-width: 400px;
  min-height: 400px;
}

/* .form>input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

.form>input[type=text]:focus {
  background-color: lightblue;
} */

